@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --couleur-principale: #CE0033;
    --police: Nunito Sans;
    --taille-titre: 30px;
    --taille-texte: 18px;
}

body {
    font-family: var(--police);
    overflow-x: hidden;
}
h1,h2 {
    color: var(--couleur-pricinpal);
    font-size: var(--taille-titre);
    margin-left: 20px;
    line-height: 42px;
    margin-bottom: 30px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

hr {
    height: 2px;
    color: #fff;
}

.wrapper {
    position: relative;
}

.sidebar {
    height: 100vh;
    position: fixed;
    width: 250px;
    background: var(--couleur-principale);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure items are spread out with space in between */
}

.logo {
    width: 80px;
    display: block;
    margin: 0 auto; /* Center the logo horizontally */
}

.menu-list {
    padding-bottom: 20px;
}

.menu-list li,
.logout-list li {
    padding: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.menu-list li a,
.logout-list li a {
    font-weight: bold;
    color: #fff;
    gap: 20px;
    display: flex;
    align-items: center; 
    width: 100%;
    transition: color 0.3s ease;
}

.sidebar ul li:hover {
    background: #fff;
    width: 100%;
    margin: 0;
}


.sidebar ul li a:hover .icon-path {
    fill: var(--couleur-principale);
}

.sidebar ul li a:hover {
    color: var(--couleur-principale);
    text-decoration: none;
}


/* Style pour les icônes SVG */
.icon {
    transition: fill 0.3s ease;
}

.icon-path {
    transition: fill 0.3s ease;
}

.menu-list li a:hover .icon-path,
.logout-list li a:hover .icon-path {
    fill: var(--couleur-principale);
}



.main-content{
    margin-left: 250px;
    margin-top: 180px;
}
.top-bar{
    height: 118px;
    position: fixed;
    margin-left: 250px;
    border-bottom: 1px solid var(--couleur-principale);
    display: flex;
    align-items: center;
    justify-content: flex-end;
   background-color: #fff;
}
.top-bar h4{
   text-align: right;
   margin-right: 200px;
    
}