@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
:root{
    --couleur-pricinpal:#CE0033;
    --police:Nunito Sans;
    --taille-titre:30px;
    --taille-texte:18px;
}
body{
    font-family: var(--police);
    overflow-x: hidden;
}
header{
    background-color: #CE0033;
}
.navbar{
    justify-items: center;
    justify-content: center;
}
.navbar-brand {
    margin-left: 20px;
}
.navbar .nav-item{
    color: white;
    font-family:var(--police) ;
    font-size: var(--taille-texte);
    font-weight: bold;
}